.App {
    background-color: rgba(117, 69, 7, 0.658);
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(56, 39, 16, 0.658);
}

form {
    margin-top: 20px;
    background-color: brown;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    margin-left: 320px;
}

.card2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.button1 {
    margin-bottom: 10px;
    width: 20%;
    margin-left: 40%;
    height: 10%;
    display: block;
}

.weather {
    background-color: bisque;
}

p, h3, h5 {
    color: black;
    text-align: center;
}

#foot {
    background-color: rgba(56, 39, 16, 0.658);
    text-align: center;
    min-height: 50px;
    font-size: larger;
    margin-top: 300px;
}

#foot h6 {
    color: whitesmoke;
    padding-top: 15px;
}