.App {
    background-color:black;
    min-height: 100vh;
}

h1 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
}

form {
    margin-top: -10px;
    background-color: brown;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    margin-left: 320px;
}

.card2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.button1 {
    margin-bottom: 10px;
    width: 20%;
    margin-left: 40%;
    height: 50%;
}

.weather {
    background-color: bisque;
}

p, h3, h5 {
    color: black;
    text-align: center;
}

